<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order_cartMapper">
	<select id="cartSelect" parameterType="String" resultType="CartDTO">
		select c.id_cart_order, c.quantity 
		from order_cart c
		left join product p
		on c.id_product = p.id_product
		left join member m
		on c.id_member = m.id_member
		left join product_option opt
		on c.id_option_product = opt.id_option_product
		where m.id_member = #{id_member}
		order by c.reg_date asc
	</select>
	<select id="cartSelect_guest" parameterType="String" resultType="CartDTO">
		select c.id_cart_order, c.quantity 
		from order_cart c
		left join product p
		on c.id_product = p.id_product
		left join guest g
		on c.id_guest = g.id_guest
		left join product_option opt
		on c.id_option_product = opt.id_option_product
		where g.id_guest = #{id_guest}
		order by c.reg_date asc
	</select>
	<delete id="cartDel" parameterType="String">
		delete order_cart where id_cart_order = #{id_cart_order}
	</delete>
	<delete id="cartDelAll" parameterType="HashMap">
		DELETE order_cart 
		<where>
			<if test="id_member!=null">
			id_member = #{id_member}
			</if>
			<if test="id_guest!=null">
			id_guest = #{id_guest}
			</if>
		</where>
	</delete>
	<update id="optUpdate" parameterType="CartDTO">
		update order_cart
		<choose>
			<when test="id_option_product == 0">
			set id_option_product = null, quantity = #{quantity}
			</when>
			<otherwise>
			set id_option_product = #{id_option_product}, quantity = #{quantity}
			</otherwise>
		</choose> 
		where id_cart_order = #{id_cart_order}
	</update>
	<insert id="cartInsert" parameterType="CartDTO">
		insert into order_cart values(
			'C-'||CART_SEQ.nextval||'-'||to_char(systimestamp, 'SSFF'),
			#{id_product}, 
			<choose>
				<when test="id_option_product == 0">
				null,
				</when>
				<otherwise>
				#{id_option_product},
				</otherwise>
			</choose>
			1,
			<choose>
				<when test="id_member == null">
				null, #{id_guest}, sysdate
				</when>
				<otherwise>
				#{id_member}, null, sysdate
				</otherwise>
			</choose>
			)
	</insert>
</mapper>  