<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="product_optionMapper">
  	<insert id="insert" parameterType="Product_optionDTO">
  		insert into product_option values(proopt_seq.nextval, #{id_product}, #{name_option})
  	</insert>
  </mapper>